* {
    box-sizing: border-box;
}

body {
    font: 14px monospace;
    max-width: 480px;
    margin: 0 auto;
    padding: 30px 20px;
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #e1e1e1;
    border-radius: 8px;
    border: black;
    height: 35px;
    outline-width: 0;
}

input:focus {
    outline-width: 0;
}

button {
    float: right;
    background-color: #a3d3a3;
    border: aqua;
    border-radius: 5px;
    width: 59px;
    height: 24px;
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: #3d463
    width: 65px;
    font-weight: 400;
}

li {
    margin: 5px 0;
}

#chatControls {
    overflow: auto;
}

#userlist {
    position: fixed;
    left: 50%;
    list-style: none;
    margin: 0 0 0 250px;
    background: #70b388;
    padding: 5px 10px;
    width: 150px;
    top: 35px;
    border-radius: 8px;
    color: white;
}

#chat p {
    margin: 5px 0;
    font-weight: 300
}

#chat .timestamp {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
}

#chat article {
    background: #eee;
    padding: 10px;
    margin: 10px 0;
    border-left: 5px solid #aaa;
    position: relative;
    word-wrap: break-word;
    border-radius: 12px;
}

#chat article:first-of-type {
    background: #c9edc3;
    border-left-color: #74a377;
    animation: enter .2s 1;
}

.status-card-offline {
    position: fixed;
    left: 50%;
    list-style: none;
    margin: 0 0 0 250px;
    background: #f5b5b5;
    padding: 5px 10px;
    width: 90px;
    top: 2px;
    border-radius: 8px;
    color: #bd5050;
}

.status-card-online {
    position: fixed;
    left: 50%;
    list-style: none;
    margin: 0 0 0 250px;
    background: #94dfaf;
    padding: 5px 10px;
    width: 90px;
    top: 2px;
    border-radius: 8px;
    color: #4f7654;
}

@keyframes enter {
    from {
        transform: none;
    }
    50% {
        transform: scale(1.05);
    }
    to {
        transform: none;
    }
}